/*Allows for the character to move around freely*/
#character{
    position: relative;
}

/*Starting page size and color*/
#characterPick{
    background-color: powderblue;
    width: 1425px;
    height: 805px;
    position: relative;
}

/*To make buttons borderless and clear background*/
.transparentButton{
    border: none;
    background: none;
}

/*Character pick box in starting page size and color*/
#characterBox{
    border:1px solid white;
    background: steelblue;
    width: 350px;
    height: 150px;
    text-align: center;
}

/*style to center elements in a div*/
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*Font and color for text*/
t1{
    font-family: "Courier New";
    color: white;
}

/*Starting page game title (Wanderer), font for the text and size*/
#gameTitle{
    width: 350px;
    height: 150px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Courier New";
    color: white;
    font-size: 70px;
}

/*Starting page game creators (Edward and Edbert), font for the text and size*/
#gameCreators{
    width: 500px;
    height: 150px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 67%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Courier New";
    color: black;
    font-size: 20px;
}

/*Restart button style*/
#restartButton{
    color: white;
}